{# src/FSi/Bundle/DemoBundle/Resources/views/Default/index.html.twig #}

<div class="table-border">
    <form action="{{ path('demo_index') }}" method="post">
        {{ datagrid_widget(datagrid) }}
    </form>
</div>